<div class='wrapper'>
 <div class='side-bar'>
   <%= render "messages/side_bar" %>
   </div>
</div>
<%# renderを入力するだけで全てが部分テンプレートで反映されるわけじゃない
    サイドバーの積み木を意識して骨組みを組み立て細かいところをrenderする
    renderの指定はディレクトリがあるならディレクトリ/該当部分テンプレートを指定する%>